<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="basic">
    <mat-toolbar-row>
      <button type="button" mat-icon-button (click)="drawer.toggle()" color="basic">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Utilisation de spotify</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="exemple-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="accueil">accueil</a>
        <a mat-list-item routerLink="albums">albums</a>
        <a mat-list-item routerLink="chanteurs">chanteur</a>
        <a mat-list-item routerLink="playlist">playlist</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>


